<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sourabh Keshri App</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Movie Revie App</h1>
		<hr>
		<h2>Save Movie</h2>

		<form action="#" th:action="@{/saveMovie}" th:object="${movie}"
			method="POST">
			<input type="text" th:field="*{Name}"
				placeholder="Name" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{rating}"
				placeholder="Rating" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{review}"
				placeholder="Review" class="form-control mb-4 col-4">
				
				<button type="submit" class="btn btn-info col-2"> Save Movie</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Movie List</a>
	</div>
</body>
</html>